#!/bin/bash

#Websites directory
WEBSITES_DIR="/var/www/vhosts"

#Chown for host dir
CHOWN_HOST="user:group"

#Chmod for host dir
CHMOD_HOST='g+w'

#Server config dir
SERVER_CONF_DIR="/etc/apache2/sites-available"
#SERVER_CONF_DIR="/etc/httpd/conf.d"

#Server restart command
SERVER_RESTART="service apache2 restart"
#SERVER_RESTART="service httpd restart"

#Host enable/disable commands
HOST_ENABLE="a2ensite"
HOST_DISABLE="a2dissite"
